<div class="container text-center">
    <form id="create-usr" class= "form-group " action="db/create.php" method="post">
        <h3>Crie um novo usuario</h3>
        <input class="form-control" type="text" name="userName" id="usrN" placeholder="Informe Usuario"><br>
        <input class="form-control" type="email" name="userMail" id="usrM" placeholder="Informe E-mail"><br>
        <input class="form-control" type="password" name="userPass" id="usrP" placeholder="Informe Senha"><br>
        <input class="btn btn-lg btn-primary btn-block" type="submit" name="create" value="Criar Usuario">
    </form>
</div>