<div class="container text-center">
    <form id="update-usr" class= "form-group " action="db/update.php" style="display: none"  method="post">
        <h3>Editar Usuario</h3>
        <input class="form-control" type="user" id= "updateU" name="updtU"  placeholder="Informe Usuario"><br>
        <input class="form-control" type="email" id = "updateM" name="updtM"  placeholder="Informe E-mail"><br>
        <input class="form-control" type="password" id = "updateP" name="updtP" placeholder="Informe Senha"><br>
        <input class="form-control" type="hidden" id = "updateID" name="updtID">
        <input class="btn btn-lg btn-primary btn-block" type="submit" name="update" value="Editar" >
    </form>
</div>